html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  width: 30%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  header nav {
    width: 80%;
  }
}
header nav a:first-child {
  font-weight: bold;
}
header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  width: 25%;
  padding: 2%;
  margin: 2%;
  border-right: 2px solid black;
}
@media (max-width: 500px) {
  header nav a {
    width: 25%;
  }
}
header nav a:last-child {
  border: none;
}
.wrap {
  width: 80%;
  margin: auto;
}
@media (max-width: 500px) {
  .wrap {
    width: 100%;
  }
}
.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  flex-direction: column;
}
.title-container img {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container .centered {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-container .centered h1 {
  width: 100%;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
}
.title-container .centered button {
  width: 50%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}
.line-break {
  border: 2px solid grey;
}
.artists-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
.artists-container .artist {
  width: 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 100%;
  }
}
.artists-container .artist img {
  width: 90%;
  height: 500px;
  border-radius: 7%;
}
@media (max-width: 500px) {
  .artists-container .artist img {
    height: 100%;
    width: 50%;
  }
}
.artists-container .artist a {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  padding: 2%;
  text-align: center;
}
@media (max-width: 500px) {
  .artists-container .artist a {
    padding: 5%;
  }
}
.artists-container .artist .bio {
  width: 80%;
}
.artists-container .artist .bio p {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
}
