header{
    .flex(center, center);
    nav{
        .flex(center, center);
        width: 25%;
        margin-top: 5%;
        a:first-child{
         
            font-weight: bold;
        }
        a{
            .flex(center, center);
            .font(2rem, @font);
            text-decoration: none;
            color: black;
            width: 40%;
            border-right: 2px solid black;
   
        }
        a:last-child{
            border: none;
        }
       
        
      
    }
}